<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Crypto Portfolio Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Home Link -->
        <li class="nav-item">
          <% if(title == "Welcome to Crypto Portfolio Tracker") { %>
            <a class="nav-link active" href="/">
          <% } else { %>
            <a class="nav-link" href="/">
          <% } %>  
          <i class="fa-solid fa-house-chimney-user"></i> Home</a>
        </li>

        <!-- Portfolio Link -->
        <li class="nav-item">
          <% if(title == "Your Crypto Portfolio") { %>
            <a class="nav-link active" href="/portfolio">
          <% } else { %>
            <a class="nav-link" href="/portfolio">
          <% } %>    
          <i class="fa-solid fa-wallet"></i> Portfolio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
